<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="120 seconds" debug="false">
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <springProperty scope="context" name="app.name" source="spring.application.name" defaultValue="tmp" />
    <springProperty scope="context" name="log.path" source="logging.file.path" defaultValue="logs/${app.name}" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss}) %magenta([%thread]) %highlight(%level) %cyan(%logger{36}:%L) - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <include resource="logback/logback-common.xml" />


    <!-- 开发、测试、本地环境：控制台 + 文件 -->
    <springProfile name="dev,test,local">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="async_info"/>
            <appender-ref ref="async_error"/>
        </root>
    </springProfile>

    <!-- 生产环境：仅异步文件 -->
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="async_info"/>
            <appender-ref ref="async_error"/>
        </root>
    </springProfile>

</configuration>